[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=gnome-polkit
Comment=Polkit
Exec=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

